# Ignore node_modules directory
node_modules/

# Ignore environment configuration files
.env

# Ignore log files
*.log

# Ignore build and output files
dist/
build/

# Ignore editor and IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
